.home {
  display: flex;
  flex-direction: row;
}

.home-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.home-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.75rem;
}

.home-userBalance {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.home-userBalance > svg {
  margin-left: 3px;
  cursor: pointer;
}

.home-userBalanceInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.home-userBalanceInfo > svg {
  margin-left: 5px;
  cursor: pointer;
}

.home-main {
  /* font-size: 1.5rem; */
}